.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

th {
  background-color: grey;
   text-align: center;
}

td {
  background-color: #ECECEC;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  
}

.center {
margin-left: 10px;

}
.availablePets{
float:left;
margin-right: 100px;
margin-left: 100px;
width: 500px;

}

.soldPets{
  margin-left: 100px;
  float: left;
  width: 500px;


}

.soldPets Table {
  border: 4px solid lightblue;
  overflow-x:auto;

}

.availablePets Table {
  border: 4px solid #add8e6;
  
  
}

.header {
  background-color: lightblue;
  margin-bottom: 40px;
}

.logo {
  width: 300px;
}

.petTables {
margin: 0 auto;
}




table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

.adoptButton {
  font-size: 10px;
  width: 60px;
  background-color: #add8e6;
}

.shape {
  width: 100px;
  color: #4f8da1;
  font-weight: bold;
}